.banners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 987px) {
    /* Zmieniamy bannery na kolumnę */
    .banners {
        flex-direction: column;
        align-items: center;
    }
}