.container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.banners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 987px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .banners {
        flex-direction: column;
        align-items: center;
    }
}