.li {
    /* usuwamy domyślny styl list */
    list-style-type: none;
    /* ustawiamy position relative
    aby użyć potem absolute */
    position: relative;
    /* Ustawiamy odstęp, aby zrobić linie */
    padding: 0 0 30px 50px;
    /* Ustawiamy linie łączącą elementy */
    border-left: 2px solid var(--orange);
}

.li:last-child {
    /* Usuwamy linię dla
    ostatniego elementu */
    border: 0;
}

.li:before {
    /* Tworzymy "kropkę" */
    content: "";
    background-color: var(--orange);
    position: absolute;
    top: -5px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.timestamp {
    font-size: 25px;
    color: white;
    margin: 0;
}

.description {
    margin-top: 0;
    font-size: 20px;
    color: var(--light-gray);
}