.text {
    padding: 20px;
    background-color: var(--gray);
    border: var(--border);
    filter: var(--drop-shadow);
    border-radius: 30px;
    color: white;
    width: 30%;
    font-size: 22px;
    height: fit-content;
    min-width: 250px;
    margin-bottom: 30px;
}

.text h1 {
    margin-top: 0;
    font-size: 45px;
}